video {
   object-fit: cover;
   width: 100%;
   height: 100%;
   position: fixed;
   z-index: -1;
 }
 
 .main-container {
   height: 100vh;
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
   object-fit: contain;
 }

.Login {
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }
  
.input-form-submit {
    margin-top: 10px;
    cursor: pointer;
    font-size: 15px;
    background: #01d28e;
    border: 1px solid #01d28e;
    color: #fff;
    padding: 10px 20px;
}
  
.input-form-submit:hover {
   background: #6cf0c2;
}
  
.button-container {
   display: flex;
   justify-content: center;
}
  
.login-form {
   background-color: white;
   padding: 2rem;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   width: 300px;
}
  
.list-container {
   display: flex;
}
  
.error {
   color: red;
   font-size: 12px;
}
  
.title {
    font-size: 25px;
    margin-bottom: 20px;
    color: #01d28e;
}
  
.input-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 10px;
}